:host {

    .grid {

        // display: block;
        // width: 100%;

        // -webkit-box-orient: vertical;
        // box-orient: vertical;
        // -webkit-flex-direction: column;
        // flex-direction: column;
        // bottom: 0;
        // display: -webkit-box;
        // display: -moz-box;
        // display: -webkit-flex;
        // display: -ms-flexbox;
        // display: flex;
        // left: 0;
        // position: absolute;
        // right: 0;
        // top: 0;

        background: #fff;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;


    }

    .grid-container {
        bottom: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
        box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
        z-index: 2;
    }

    .grid-content {
        -webkit-box-orient: vertical;
        box-orient: vertical;
        -webkit-flex-direction: column;
        flex-direction: column;
        bottom: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .pf7Psf {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
    }

    .DzYbP .aRDqpc {
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .x2sGwe {
        width: 100%;
        height: 100%;
    }

    .gallery-header {
        background: #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 60px;
        text-align: center;
        border-bottom: 1px solid #f7f7f7;
        padding: 4px;
        width: 100%;
    }

    .gallery-footer {
        color: rgba(0,0,0,0.54);
        line-height: 20px;
        padding: 16px 20px 20px;
    }

    .gallery-body {
        display: block;
        max-width:450px;
        margin: 0 auto;
    }

    ul {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    li {
        float: left;
        width: 33.3%;
        padding: 0;
        margin: 0;

        background-color: #000;
        border: 2px solid #fff;

        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        position: relative;
        overflow: hidden;
    }

    li .thumb-box {
        display: block;
        width: 100%;
        overflow: hidden;
    }

    img {
        display: block;

        // max-width: 100%;
        // max-height: 100%;

        height: 150px;
        width: 150px;

        margin: auto;
        -webkit-transition: all 2s ease-out;
        transition: all 2s ease-out;
    }

    img {
        object-fit:cover;
        -o-object-fit:cover;
    }

    .thumb-box:hover img,
    .thumb-box:focus img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}
