:host {

    .grid-container {
        display: block;
        max-width:450px;
        margin: 0 auto;
    }

    .grid-header,
    .grid-footer {
        background: #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        padding: 10px;
        width: 100%;

        display: block;
    }

    .grid-header {
        // border-bottom: 1px solid #000;
    }

    .grid-body {

        display: block;
        max-width: 100%;
        margin: 0 auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        section {
            display: flex;
            flex-wrap: wrap;
        }

        section::after {
            content: '';
            flex-grow: 999999999;
        }

        div {
            margin: 2px;
            background-color: violet;
            position: relative;
        }

        i {
            display: block;
        }

        img {
            position: absolute;
            top: 0;
            width: 100%;
            vertical-align: bottom;
        }

        // ul {
        //     float: left;
        //     width: 100%;
        //     padding: 0;
        //     margin: 0;
        //     min-height: 300px;
        //     max-height: 300px;
        //     overflow-y: auto;
        //     list-style-type: none;
        // }

        // li {
        //     float: left;
        //     // width: 33.3%;
        //     // width: 100%;
        //     width: 150px;
        //     height: 150px;
        //     padding: 0;
        //     margin: 0;
        //     background-color: #000;
        //     border: 1px solid #fff;
        //     -moz-box-sizing: border-box;
        //     box-sizing: border-box;

        //     .thumb-box {
        //         display: block;
        //         width: 100%;
        //         overflow: hidden;
        //     }

        // }

        // img {

        //     // max-width: 100%;
        //     // max-height: 100%;

        //     display: block;
        //     width: 150px;
        //     height: 150px;
        //     margin: auto;
        //     -webkit-transition: all 2s ease-out;
        //     transition: all 2s ease-out;
        // }

        // img {
        //     object-fit:cover;
        //     -o-object-fit:cover;
        // }

        // .thumb-box:hover img,
        // .thumb-box:focus img {
        //     -webkit-transform: scale(1.3);
        //     transform: scale(1.3);
        // }
    }
}
