:host {

    .courses-grid-container {

        display: block;
        padding: 15px;
        // width: 100%;

        > ul {

            list-style: none;
            max-width: 600px;
            max-height: 300px;
            overflow-y: auto;
            margin: 0 auto;

            @media screen and ( max-width : 767px ) {
                max-width: 400px;
            }

            @media screen and ( max-width : 539px ) {
                max-width: 300px;
            }
        }
    }

    .image-list {

        padding:0;
        margin:0;
    }

    .image-list-item {

        display: inline-block;
        float: left;
    }

    .item-container {
        overflow: hidden;
        padding: 0px;
    }

    .item-box {

        height: 100%;
        overflow: hidden;
        background: #fff;

        width: auto;
        padding: 0px;
        margin: 0px;
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
        box-shadow: 0 3px 6px rgba(0,0,0,.25);
    }

    .item-box {

        display: table;
        text-align: center;

        .item-upload,
        img {

            height: 150px;
            width: 150px;

            display: table-cell;
            vertical-align: middle;

            @media screen and ( max-width : 767px ) {
                height: 100px;
                width: 100px;
            }

            @media screen and ( max-width : 539px ) {
                height: 100px;
                width: 100px;
            }
        }

        img {
            object-fit:cover;
            -o-object-fit:cover;
        }

        .item-upload {
            i,
            span {
                display: block;
            }
        }

    }

    .wrapper {

        // max-width: 450px;
        // display: block;
        // margin: 0 auto;

        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        background-color: #fff;

        max-width: 600px;
        max-height: 300px;
        overflow-y: auto;
    }

    .gallery {
        // display: grid;
        // grid-gap: 0px;
        // grid-template-columns: repeat( auto-fill, minmax( 150px, 1fr ) );
        // grid-auto-flow: dense;
    }

    .item {
        margin: 1px;
        padding: 0;
        flex: 0 0 150px;
        width: 150px;
        height: 150px;
    }


    .item img {

        // width: 150px;
        // height: 150px;

        // width: 100%;
        // height: 100%;
        // object-fit: cover;

        // width: 100%;
        // height: 100%;

        max-width: 100%;
        min-height: 100%;
        object-fit: cover;

        // background-position: center;
        // background-size: 100% auto;
        // background-repeat: no-repeat;

    }
}
