<div class="grid">

    <div class="grid-container">

        <div class="grid-header">
            <span>Gallery Header</span>
        </div>

        <div class="grid-body">

            <!-- <pre>{{ images | json }}</pre> -->
            <!-- <img src="https://via.placeholder.com/150x150" /> -->


            <section>

                <!-- <li *ngFor="let image of images">
                    <div class="thumb-box">
                        <img [src]="image.url" />
                    </div>
                </li> -->

                <div *ngFor="let img of images" [ngStyle]="{ 'width': getImageWidth( img ), 'flex-grow' : getImageFlexGrow( img ) }">
                    <!-- <i [ngStyle]="{ 'padding-bottom' : getImagePaddingBottom( img ) }'"></i> -->
                    <img [src]="img.url" alt="">
                </div>

            </section>

        </div>

        <div class="grid-footer">
            <span>Changes that you make here will show up to other Google users.</span>
        </div>

    </div>

</div>
