<form autocomplete="off" [formGroup]="courseForm" novalidate>

    <!-- <span>{{ avatar }}</span> -->

    <div class="form-group">
        <app-course-image-upload [avatar]="avatar" (upload)="upload( $event )" (preview)="preview( $event )" (modal)="openModal( $event )"></app-course-image-upload>

        <!--
        <div class="course-cover">
            <img *ngIf="avatar" alt="Preview" class="hidden" src="{{ avatar }}">
            <div *ngIf="!avatar">
                <app-course-image-upload (upload)="upload( $event )" (preview)="preview( $event )" [query]="query"></app-course-image-upload>
            </div>
        </div>
        -->

    </div>

    <div class="form-group">
        <label for="name"></label>
        <span>Name:</span>
        <input type="text" class="form-control" name="name" formControlName="name">
    </div>

    <div class="form-group">
        <label for="description"></label>
        <span>Description:</span>
        <textarea class="form-control" name="description" formControlName="description"></textarea>

        <!--
        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
        -->

        <!--
        <label class="center-block">
            <span>Text:</span>
            <input class="form-control" formControlName="text">
        </label>
        -->

    </div>

    <button type="button" [disabled]="!courseForm.valid" class="btn btn-success" (click)="onSubmit( courseForm.value )">
        <span>Create</span>
    </button>

</form>

<!--
<pre>{{ courseForm.value | json }}</pre>
<div>isValid: {{ courseForm.valid }}</div>
-->
