<div class="card card-hero" (click)="onHeroDetail();">
    <div class="card-header"></div>
    <div class="card-body">
        <div class="card-hero-avatar">
            <hero-thumbnail
                *ngIf="hero.thumbnail"
                [image]="hero.thumbnail"
                [alt]="'Thumbnail of ' + hero.name">
            </hero-thumbnail>
        </div>
        <div class="card-hero-info">
            <div class="hero-name">
                <span>{{ hero.name || hero.fullName || hero.title }}</span>
            </div>
            <div class="hero-desc">Backend Developer, ML</div>
            <div class="hero-desc">Developer at <b>Freshdesk</b></div>
        </div>
    </div>
</div>
