.card-hero {
    position: relative;
    border: none;
    overflow: hidden;
    padding: 0;
    text-align: center;
    background-color: #3a3a3a;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 10px;
}

.card-hero:hover {

    cursor: pointer;

    .card-body {
        .card-hero-avatar {
            transform: scale(1.1) rotate(5deg);
            transition: transform .2s ease-out;
        }
    }
}

.card-body{
    padding: 0px;
}

.card-header {
    // background: url("https://images.freecreatives.com/wp-content/uploads/2016/03/Colorful-Material-Design-Background.jpg");
    background-image: url( "/assets/images/heroes/background.jpg" );
    background-size: cover;
    height: 150px;
}

.card-hero-avatar {
    position: relative;
    top: -75px;
    margin-bottom: -75px;
}

.card-hero-info {
    padding: 15px;
}

.hero-name {
    margin-bottom: 5px;
    font-size: 1em;
    font-weight: 700;
    line-height: 1em;
    color: #ffffff;
    vertical-align: middle;
}

.hero-desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 12px;
    color: #737373;
    text-overflow: ellipsis;
}
