:host {

    /* modals are hidden by default */
    // display: none;

    .app-modal {
        // display: none;
    }

    .app-modal {
        display: none;
        justify-content: center;
        align-items: center;
    }

    .app-modal-show,
    .app-modal-hide {
        display: flex;
    }

    .app-modal-hide {
        display: none;
    }

    /* This is on the wrapper for the whole modal */
    .app-modal-align {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 999;
    }

    .app-modal-body {
        position: relative;
        width: 100%;
        max-width: 450px;
        max-height: 800px;
        // padding: 20px;
        margin: 12px;
        background: #fff;
    }

    /* The .modal__close class is used in js but is modified '--x' here */
    .modal__close--x {
        font-size: 30px; /* this is only because we use unicode for the X in this case */
        position: absolute;
        top: 3px;
        right: 10px;
    }

    /* As there is no href to avoid the hash being added to the URL when clicked we add a pointer */
    /* This 'x' is hidden from screen readers as there is an accessible close button in the modal */
    .modal__close--x:hover {
        cursor: pointer;
    }

    /* Animations */
    /* Open */
    .app-modal-show {
        animation: modal-open 500ms;
    }

    @keyframes modal-open {
        0%    { opacity: 0; }
        100%  { opacity: 1; }
    }

    /* Close */
    .app-modal-hide {
        animation: modal-close 500ms;
    }

    @keyframes modal-close {
        0%    { opacity: 1; }
        100%  { opacity: 0; }
    }
}


