<!-- modal starts -->
<!-- <div class="app-modal">
    <div class="app-modal-body">
        <ng-content></ng-content>
    </div>
</div>
<div class="app-modal-background"></div> -->
<!-- modal ends -->

<!-- modal - must sit outside main page layout -->
<!-- <div class="app-modal app-modal-align" [ngClass]="{ 'app-modal-show' : show, 'app-modal-hide' : !show  }"> -->
<div class="app-modal app-modal-align" #modalWindow>
    <div class="app-modal-body">
        <ng-content></ng-content>
        <!-- <button class="modal__close">Cancel link</button> -->
    </div>
</div>
<!-- / modal -->
