<div>
    <h1>ORDERS</h1>
    <a [routerLink]="[ '/orders', 1 ]">View</a>
    <a [routerLink]="[ '/orders', 'new' ]">New</a>
    <ul class="clients-list">
        <li *ngFor="let pet of pets">
            <span>{{ pet.name }}</span>
        </li>
    </ul>
    <button type="button" (click)="onSubmit()">Save me!</button>
</div>
