<div class="row">
    <div class="col-md-12">
        <p>Chat works!</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label>Username: </label>
        <input class="form-control" type="text" [(ngModel)]="user.username" name="username">
        <br>
        <button class="btn btn-default" (click)="setUsername()">Submit</button>
    </div>
</div>

<h1>SocketChat</h1>
<div *ngIf="user.username">
    <input  class="form-control"
            type="text"
            name="message"
            maxlength="140"
            placeholder="Type your message.."
            [(ngModel)]="content"
            (keyup.enter)="sendMessage(content)">
    <br>

    <div *ngFor="let message of messages">

        <div class="well" *ngIf="message.action === undefined">
            <!-- <img [src]="message.from.avatar"> -->
            <strong>{{ message.from.username }} : </strong>
            <span>{{ message.content }}</span>
        </div>

        <p *ngIf="message.action === action.JOINED">
            <span><strong>{{ message.from.username }}</strong>&nbsp;</span>
            <span>joined to the conversation.</span>
        </p>
        <p *ngIf="message.action === action.RENAME">
            <span><strong>{{ message.content.previousUsername }}</strong> is now </span>
            <span>{{ message.content.username }}</span>
        </p>

    </div>
</div>

<div class="text-center" *ngIf="!user.username">
    <span>Please log in to chat...</span>
</div>
