<!-- Sidebar Header starts -->
<div class="sidebar-header">
        <div class="logo clearfix">
            <a class="logo-text float-left">
                <div class="logo-img">
                    <img src="assets/img/logo.png" />
                </div>
                <span class="text align-middle">APEX</span>
            </a>
            <a class="nav-toggle d-none d-sm-none d-md-none d-lg-block" id="sidebarToggle" href="javascript:;">
                <i class="ft-toggle-right toggle-icon" data-toggle="expanded"></i>
            </a>
            <a class="nav-close d-block d-md-block d-lg-none d-xl-none" id="sidebarClose" href="javascript:;">
                <i class="ft-x"></i>
            </a>
        </div>
    </div>
    <!-- Sidebar Header Ends -->

    <!-- Sidebar Content starts -->
    <div class="sidebar-content">
        <div class="nav-container">

            <ul class="navigation">

                <li *ngFor="let item of menuItems"
                    [ngClass]="[item.class]"
                    uiSrefActive="active">

                    <span *ngIf="item.group; then group else menu"></span>

                     <!-- Group title -->
                     <ng-template #group>
                        <span class="item-group" [ngClass]="[item.class]" [innerHTML]="[item.title]"></span>
                     </ng-template>

                    <ng-template #menu>
                        <a uiSref="{{ item.path }}" *ngIf="!item.isExternalLink; else externalLinkBlock">
                            <span class="item-icon">
                                <i [ngClass]="[item.icon.class]" *ngIf="item.icon"></i>
                            </span>
                            <span class="item-title" [innerHTML]="[item.title]"></span>
                            <span class="item-badge" *ngIf="item.badge && item.badge.text" [ngStyle]="getStyles( item.badge )">
                                <span [innerHTML]="[item.badge.text]"></span>
                            </span>
                        </a>

                        <ul class="menu-content" *ngIf="item.submenu">
                            <li *ngFor="let subitem of item.submenu"
                                [ngClass]="[subitem.class]"
                                uiSrefActive="active" >

                                <a uiSref="{{ subitem.path }}"  *ngIf="!subitem.isExternalLink; else externalSubLinkBlock">
                                    <span class="item-icon">
                                        <i [ngClass]="[subitem.icon.class]" *ngIf="subitem.icon"></i>
                                    </span>
                                    <span class="item-title" [innerHTML]="[subitem.title]"></span>
                                    <span class="item-badge" *ngIf="subitem.badge && subitem.badge.text" [ngStyle]="getStyles( subitem.badge )">
                                        <span [innerHTML]="[subitem.badge.text]"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>

                    </ng-template>
                </li>

            </ul>
        </div>
    </div>
    <!-- Sidebar Content Ends -->
