<!-- Sidebar Header starts -->
<div class="sidebar-header">
    <div class="logo clearfix">
        <a class="logo-text float-left">
            <div class="logo-img">
                <img src="assets/img/logo.png" />
            </div>
            <span class="text align-middle">APEX</span>
        </a>
        <a class="nav-toggle d-none d-sm-none d-md-none d-lg-block" id="sidebarToggle" href="javascript:;">
            <i class="ft-toggle-right toggle-icon" data-toggle="expanded"></i>
        </a>
        <a class="nav-close d-block d-md-block d-lg-none d-xl-none" id="sidebarClose" href="javascript:;">
            <i class="ft-x"></i>
        </a>
    </div>
</div>
<!-- Sidebar Header Ends -->

<!-- Sidebar Content starts -->
<div class="sidebar-content">
    <div class="nav-container">

        <ul class="navigation">
            <li *ngFor="let item of menuItems"
                [ngClass]="[item.class]"
                [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{ exact : true }">

                <div *ngIf="item.groupTitle; then group else default"></div>

                <!-- Group title -->
                <ng-template #group>
                    <span *ngIf="!item.isExternalLink; else externalLinkBlock"></span>

                    <!-- Is External Link -->
                    <ng-template #externalLinkBlock>
                        <a [href]="[item.path]" target="_blank">
                            <span class="item-icon">
                                <i [ngClass]="[item.icon.class]" *ngIf="item.icon && item.icon.class"></i>
                            </span>
                            <span class="item-title" [innerHTML]="[item.title]"></span>
                            <span class="item-badge" *ngIf="item.badge && item.badge.text" [ngStyle]="getStyles( item.badge )">
                                <span [innerHTML]="[item.badge.text]"></span>
                            </span>
                        </a>
                    </ng-template>

                    <!-- <span class="group-title">{{ item.title }}</span> -->
                </ng-template>
                <!-- end Group title -->

                <!-- Default item -->
                <ng-template #default>
                    <div *ngIf="!item.submenu; then simple else submenu"></div>

                    <!-- Simple Menu -->
                    <ng-template #simple>
                        <a [routerLink]="item.class === '' ? [item.path] : null">
                            <span class="item-icon">
                                <i [ngClass]="[item.icon.class]" *ngIf="item.icon && item.icon.class"></i>
                            </span>
                            <span class="item-title" [innerHTML]="[item.title]"></span>
                            <span class="item-badge" *ngIf="item.badge && item.badge.text" [ngStyle]="getStyles( item.badge )">
                                <span [innerHTML]="[item.badge.text]"></span>
                            </span>
                        </a>
                    </ng-template>

                    <!-- Submenu -->
                    <ng-template #submenu>

                        <!-- Item with submenu -->
                        <!-- <a href="#" (click)="toggle( $event, item, this )">
                            <span class="item-icon">
                                <i [ngClass]="[item.icon.class]" *ngIf="item.icon && item.icon.class"></i>
                            </span>
                            <span class="item-title" [innerHTML]="[item.title]"></span>
                        </a> -->

                        <a [routerLink]="[item.path]">
                            <span class="item-icon">
                                <i [ngClass]="[item.icon.class]" *ngIf="item.icon && item.icon.class"></i>
                            </span>
                            <span class="item-title" [innerHTML]="[item.title]"></span>
                            <span class="item-badge" *ngIf="item.badge && item.badge.text" [ngStyle]="getStyles( item.badge )">
                                <span [innerHTML]="[item.badge.text]"></span>
                            </span>
                        </a>

                        <!-- Menu sub -->
                        <ul class="navigation-submenu" *ngIf="item.submenu">
                            <li *ngFor="let submenu of item.submenu"
                                [routerLinkActive]="'active'"
                                [ngClass]="[submenu.class]" >

                                <a [routerLink]="[submenu.path]">
                                    <span class="item-icon">
                                            <i [ngClass]="[submenu.icon.class]" *ngIf="submenu.icon && submenu.icon.class"></i>
                                        </span>
                                    <span class="item-title" [innerHTML]="[submenu.title]"></span>
                                    <span class="item-badge" *ngIf="submenu.badge && submenu.badge.text" [ngStyle]="getStyles( submenu.badge )">
                                        <span [innerHTML]="[submenu.badge.text]"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>

                    </ng-template>
                </ng-template>

            </li>
            <!-- First level menu -->

        </ul>
    </div>
</div>
<!-- Sidebar Content Ends -->
