:host {
    display: block;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    width: inherit;
    -webkit-overflow-scrolling: touch;
}

.sidebar-header {
    a.nav-toggle {
        line-height: 20px;
        position: absolute;
        top: 32px;
        right: 14px;
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        color: rgba(255, 255, 255, .55);
    }

    a.nav-close {
        line-height: 20px;
        position: absolute;
        top: 32px;
        right: 14px;
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        color: white;
    }
}

.sidebar-header {

    .logo {
        position: relative;
        z-index: 4;
        padding: 20px 15px;

        p {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 20px;
            line-height: 20px;
            float: left;
            margin: 10px 10px;
            color: #fff;
        }

        .logo-text {
            font-size: 1.6rem;
            font-weight: 400;
            display: block;
            padding: 5px 0;
            text-align: left;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #000;
        }

    }

    .logo-img {
        display: inline-block;
        width: 30px;
        max-height: 30px;
        margin-right: 15px;
    }

    .logo-tim {
        display: block;
        float: left;
        overflow: hidden;
        width: 61px;
        height: 61px;
        border: 1px solid #333;
        border-radius: 50%;
    }

    .logo-tim img {
        width: 60px;
        height: 60px;
    }
}

.sidebar-content {
    position: relative;
    z-index: 4;
    overflow: auto;
    height: -webkit-calc(100vh - 90px);
    height: -moz-calc(100vh - 90px);
    height: calc(100vh - 90px);
}

.sidebar-content {

    ul.navigation {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;

        li {
            position: relative;
            display: block;
        }

        li {
            > a {

                display: block;
                overflow: hidden;
                line-height: 2rem;

                // margin: 5px 0;
                // padding: 10px 30px 10px 14px;

                margin: 0px;
                padding: 5px 15px;

                -webkit-transition: all 300ms linear;
                -moz-transition: all 300ms linear;
                -o-transition: all 300ms linear;
                transition: all 300ms linear;

                color: #000;
                background-color: transparent;
                text-decoration: none;
            }

            > a:before {
                content: '';
                position: absolute;
                z-index: -1;
                top: 0;
                left: -100%;
                display: block;
                width: 100%;
                height: 100%;

                //display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;

                -webkit-transition: .35s ease left;
                -moz-transition: .35s ease left;
                -o-transition: .35s ease left;
                transition: .35s ease left;

                border-right: solid 5px #ff586b;
                background: rgba(200, 200, 200, .2);
            }
        }

        li.has-sub {

            > a:after {
                content: "\f054";
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                font-size: 1rem;
                position: absolute;
                top: 5px;
                right: 15px;
                display: inline-block;
                transition: -webkit-transform .2s ease-in-out;
                -webkit-transform: rotate(0);
                -moz-transform: rotate(0);
                -ms-transform: rotate(0);
                -o-transform: rotate(0);
                transform: rotate(0);
            }

            > a {
                margin-bottom: 0;
            }
        }

        li.open {
            > a:after {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg);
            }

            > a {
                background: rgba(200, 200, 200, .2);
            }
        }

        li:not(.open) {
            > ul {
                display: none;
            }
        }

        li:hover {
            > a {
                color: #000;
                background: rgba(200, 200, 200, .2);
            }
        }

        li.active {
            > a:before {
                left: 0;
            }
        }

        /* Second level submenu */
        ul.menu-content {
            font-size: 1rem;
            overflow: hidden;
            margin: 0;
            padding: 0;

            li {
                a {
                    display: block;
                    padding: 5px 50px;
                }

                ul li a {
                    // padding: 8px 18px 8px 70px;
                    padding: 5px 60px;
                }
            }
        }
    }

    .item-group {
        font-size: .95rem;
        font-weight: 400;
        height: auto;
        margin: 0;
        padding: 5px 15px;
        -webkit-transition: width .3s cubic-bezier(0, 0, .2, 1);
        -moz-transition: width .3s cubic-bezier(0, 0, .2, 1);
        -o-transition: width .3s cubic-bezier(0, 0, .2, 1);
        transition: width .3s cubic-bezier(0, 0, .2, 1);
        letter-spacing: .6px;
        opacity: 1;
    }

    .item-title {
        font-size: .95rem;
        font-weight: 400;
        height: auto;
        margin: 0;
        -webkit-transition: width .3s cubic-bezier(0, 0, .2, 1);
        -moz-transition: width .3s cubic-bezier(0, 0, .2, 1);
        -o-transition: width .3s cubic-bezier(0, 0, .2, 1);
        transition: width .3s cubic-bezier(0, 0, .2, 1);
        letter-spacing: .6px;
        opacity: 1;
    }

    .badge.badge-pill {
        font-weight: 300;
        position: absolute;
        right: 28px;
        padding: 4px 8px;

        -webkit-transition: width .3s cubic-bezier(0, 0, .2, 1);
        -moz-transition: width .3s cubic-bezier(0, 0, .2, 1);
        -o-transition: width .3s cubic-bezier(0, 0, .2, 1);
        transition: width .3s cubic-bezier(0, 0, .2, 1);
    }

    .item-icon {
        font-size: 18px;
        line-height: 2rem;
        float: left;
        width: 30px;
        margin-right: 10px;
        text-align: center;
        color: #a9afbb;
    }
}

.sidebar-contentw {

    // Main ul element
    ul.navigation {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            position: relative;
            display: block;
        }

        li.has-sub {

            > a:after {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f105";
                font-size: 1rem;
                position: absolute;
                top: 5px;
                right: 15px;
                display: inline-block;
                transition: -webkit-transform .2s ease-in-out;
                -webkit-transform: rotate(0);
                -moz-transform: rotate(0);
                -ms-transform: rotate(0);
                -o-transform: rotate(0);
                transform: rotate(0);
            }
        }

        li.open {
            > a:after {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }

        li.open {
            > a:before {
                left: 0;
            }

            ul.navigation-submenu {
                // display: block;
            }
        }

        li:not(.open) {
            > ul {
                display: none;
            }
        }

        li {
            > a {
                display: block;
                overflow: hidden;
                line-height: 2rem;

                margin: 0px;
                padding: 5px 15px;

                // padding: 10px 30px 10px 14px;
                // margin: 5px 0;

                -webkit-transition: all 300ms linear;
                -moz-transition: all 300ms linear;
                -o-transition: all 300ms linear;
                transition: all 300ms linear;

                color: #fff;
                background-color: transparent;
                text-decoration: none;
            }

            > a:before {
                content: '';
                position: absolute;
                z-index: -1;
                top: 0;
                left: -100%;
                display: block;
                width: 100%;
                height: 100%;

                -webkit-transition: .35s ease left;
                -moz-transition: .35s ease left;
                -o-transition: .35s ease left;
                transition: .35s ease left;

                border-right: solid 5px #ff586b;
                background-color: rgba(200, 200, 200, .2);
            }
        }

        // li:hover,
        // li:focus,
        // li:active
        // li.active {
        //     > a {
        //         color: #ff0084;
        //         background-color: #e5e5e5;
        //     }
        // }

        li:hover,
        li:focus {
            > a {
                color: #ff0084;
                background-color: #e5e5e5;
            }
        }

        /* Navigation Submenu */
        ul.menu-content {

            font-size: 1rem;
            overflow: hidden;
            margin: 0;
            padding: 0;

            li {
                a {
                    display: block;
                    padding: 5px 35px;
                }

                ul {
                    li {
                        a {
                            padding: 5px 50px;
                        }
                    }
                }
            }
        }

        .item-title {
            font-size: .95rem;
            font-weight: 400;
            height: auto;
            margin: 0;
            -webkit-transition: width .3s cubic-bezier(0, 0, .2, 1);
            -moz-transition: width .3s cubic-bezier(0, 0, .2, 1);
            -o-transition: width .3s cubic-bezier(0, 0, .2, 1);
            transition: width .3s cubic-bezier(0, 0, .2, 1);
            letter-spacing: .6px;
            opacity: 1;
        }

        .badge.badge-pill {
            font-weight: 300;
            position: absolute;
            right: 28px;
            padding: 4px 8px;

            -webkit-transition: width .3s cubic-bezier(0, 0, .2, 1);
            -moz-transition: width .3s cubic-bezier(0, 0, .2, 1);
            -o-transition: width .3s cubic-bezier(0, 0, .2, 1);
            transition: width .3s cubic-bezier(0, 0, .2, 1);
        }

        .item-icon {
            font-size: 18px;
            line-height: 2rem;
            float: left;
            width: 30px;
            margin-right: 10px;
            text-align: center;
            color: #a9afbb;
        }
    }
}

.sidebar-background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.sidebar-background:after {
    position: absolute;
    z-index: 3;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    opacity: .93;
    background: #fff;
}
