<h2 i18n>LISTADO DE EQUIPOS</h2>
<div class="row">
    <div class="col-6" *ngFor="let team of teams | groupBy : 'group_letter'; ">
        <div>
            <h1>{{ team.key }}</h1>
            <!-- <pre>{{ team | json }}</pre> -->
            <ul>
                <li *ngFor="let t of team.value">
                    <h3>{{ t.country }}</h3>
                </li>
            </ul>
        </div>
    </div>
</div>
