.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.hero-cover img {
    max-width: 100%;
    height: auto;
    display:block;
}

.search-container {
    background: #fff;
    padding: 5px 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    border: solid 1px #646464;
    margin: 15px 0px;

    input[type=text],
    input[type=email] {
        outline: 0;
        border: none 0;
        font-size: 18px;
        padding-left: 25px;
        line-height: 18px;
    }
}

.hero-index {
    padding: 0;
    margin: 15px auto;
    display:block;
    list-style: none;
    text-align: center;

    > li {
        display: inline;
        font-size: 30px;
        font-weight: 700;
    }
}
