<div class="container">

    <div class="row">
        <div class="col-12">
            <div class="hero-cover">
                <img src="/assets/images/heroes/marvel-universe.png" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="search-container">
                <form (submit)="onSearch(searchInput.value)">
                    <input type="text" #searchInput [value]="query" placeholder="Search">
                    <!-- <button type="submit">Search</button> -->
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
                <ul class="hero-index">
                    <!-- <li ng-click="activateLetter('')" ng-class="{'active':activeLetter==''}">ALL</li> -->
                    <li *ngFor="let letter of index">
                        {{letter}}
                    </li>
                </ul>
        </div>
    </div>

    <div class="row" *ngIf="!loading">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <span>Loading...</span>
        </div>
    </div>

    <div  class="row" *ngIf="marvel && loading">
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let hero of marvel.data.results">
            <app-hero [hero]="hero" class="hero-item"></app-hero>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-12">

            <app-pagination
                *ngIf="marvel"
                [currentPage]="page"
                [totalPages]="totalPages"
                (change)="onChangePage($event)">
            </app-pagination>

        </div>
    </div> -->

    <!-- <app-pagination
        [currentPage]="1"
        [totalPages]="100"
        (change)="onChangePage($event)">
    </app-pagination> -->


</div>


<!-- <div class="heroes-actions">
    <button class="btn btn-sm btn-primary">
        <span>Add Hero</span>
    </button>
</div> -->

