@import './../assets/sass/main';

/* =================================== */
/*  Basic Style
/* =================================== */

body {
    color: #525252;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
    position: relative;
    max-width: 100% !important;
    overflow-x: hidden !important;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
    color: #777777;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    text-decoration: none;
    outline: 0;
}

/************************/
/* Typography */
/************************/

h1, h2, h3,
h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}

.h1, .h2, .h3,
.h4, .h5, .h6 {
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #222222;
}

p{
    font-size: 1rem;
    line-height: 1.8rem;
    letter-spacing: 0.4px;
}

h1, .h1 {
    font-size: 2.25rem;
    font-weight: 400;
}

h2, .h2 {
    font-size: 1.875rem;
    font-weight: 400;
}

h3, .h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

h4, .h4 {
    font-size: 1.125rem;
    font-weight: 400;
}

h5, .h5 {
    font-size:  1rem;
    font-weight: 400;
}

h6, .h6 {
    font-size: 0.875rem;
    color: #222222;
    font-weight: 400;
}

.font-md{
    font-size: 1.5rem;
}

td, th {
    border-radius: 0rem;
}

.brand-logo {
    width: 64px;
    height: 64px;
    z-index: 1;
}

// .navbar {
//     min-height: 60px;
// }

// .navbar-brand {
//   position: absolute;
//   width: 100%;
//   left: 0;
//   top: 5px;
//   text-align: center;
//   margin:0 auto;
// }

.navbar-custom {
    background-color: #e5e5e5;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    // color: rgba(255,255,255,.8);
    color:black;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    // color: rgba(255,255,255,.5);
    color:black;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    // color: #ffffff;
    color:black;
}

@media (min-width: 576px) {
    .navbar-brand {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin:0 auto;
    }
}

@media (min-width: 575) {
    .navbar {
        padding: 0 !important;
    }
}
