<section class="app-courses" *ngIf="( (courses)?.length )">

    <div class="container">

        <div class="row">
            <div class="col-12">
                <!-- <app-course-search (search)="search( $event )" [query]="query"></app-course-search> -->
            </div>
        </div>

        <div class="row" *ngIf="((courses)?.length)">
            <div class="col-12">

                <div>
                    <h1>Courses List...</h1>
                </div>

                <p appHighlight>Highlight me!</p>

                <ul class="courses-list" appSharehighlight>
                    <li *ngFor="let course of courses">
                        <span>{{ course.name }}</span>
                    </li>
                </ul>

            </div>
        </div>

        <div class="row" *ngIf="((courses)?.length)">
            <div class="col-12">
                <app-course-form></app-course-form>
            </div>
        </div>

    </div>

</section>
<app-share-highlight></app-share-highlight>
