html {
    height: 100%;
}

body {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    color: #212529;
    background-color: #f5f7fa;
}

app-root {
    display: block;
    height: 100%;
}
