:host {

    .course-cover-wrapper {

        width: 100%;
        height: 100%;
        position: relative;
        display: block;
        margin-bottom: 1rem;

        border-radius: 0px;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        background: rgba( 0, 0, 0, 0.2 );
        box-shadow: inset 0 0 0 5px rgba(255,255,255, 0.5);
    }

    .course-cover-image {

        display: block;

        .img {

            overflow: hidden;
            position: relative;

            img {

                width: 100%;
                height: 100%;

                // background-position: center;
                // background-size: 100% auto;
                // background-repeat: no-repeat;

                max-width: 100%;
                min-height: 100%;
                object-fit: cover;
                backface-visibility: hidden;

            }
        }

        .course-position-cover {

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            .course-cover-update {

                ul.cover-actions-list {

                    position: absolute;
                    padding: 0;
                    margin: 0;
                    list-style: none;

                    right: 15px;
                    top: 15px;

                    > li {
                        display: inline-block;
                        padding: 0 2px;
                    }
                }

                .update-cover-action {

                    background-color: rgba( 0, 0, 0, 0.5 );
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    height: 36px;
                    width: 36px;
                    text-align: center;
                    line-height: 36px;

                    .fas,
                    .far {
                        background-size: 18px;
                        height: 18px;
                        width: 18px;
                    }
                }
            }

        }

        .course-position-cover:hover {
            background-color: rgba( 0, 0, 0, 0.12 );
        }

        // .div-flex {
        //     display: -ms-flexbox;
        //     display: -webkit-flex;
        //     display: flex;
        // }

        // .div-flex-center {
        //     -ms-flex-pack: center;
        //     -webkit-justify-content: center;
        //     justify-content: center;
        // }

        // .div-flex-middle {
        //     -ms-flex-align: center;
        //     -webkit-align-items: center;
        //     align-items: center;
        // }

    }

    .course-cover-mask {

        max-height: 350px;

        display: block;
        margin: 0 auto;

        .mask-info {

            padding: 15px;
            text-align: center;

        }

        .mask-info {

            width: 100%;
            height: 100%;
            margin: 0;

            cursor: pointer !important;

            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;

            -webkit-backface-visibility: hidden; /*for a smooth font */

            .fa-image {

                font-size: 100px;
                opacity: 1;
                margin-bottom: 1rem;
                -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
            }

        }

        .grid-images {
            width: 100%;
            height: 100%;
        }

    }
}
