<div class="course-cover-wrapper">

    <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput access=".png,.jpg">


    <!-- <div class="course-cover-image" *ngIf="avatar" [style.background-image]="'url(' + avatar + ')'"> -->
    <!-- <div class="course-cover-image" *ngIf="!grid"> -->


    <div class="course-cover-image">

        <div class="img cover-image" *ngIf="avatar">
            <img alt="Preview" class="cover-img img-responsive" [src]="avatar">
        </div>

        <div class="img cover-preview" *ngIf="!avatar">
            <img alt="Preview" class="cover-img img-responsive" src="https://via.placeholder.com/851x315">
        </div>

        <div class="course-position-cover div-flex div-flex-center div-flex-middle">
            <div class="course-cover-update">
                <ul class="cover-actions-list">
                    <li>
                        <div class="update-cover-action" (click)="picker( $event )">
                            <i class="fas fa-upload fa-lg" aria-hidden="true"></i>
                        </div>
                    </li>
                    <li>
                        <div class="update-cover-action" (click)="openModal( 'select-image' )">
                            <i class="far fa-images fa-lg" aria-hidden="true"></i>
                        </div>
                    </li>
                </ul>

            </div>
        </div>

    </div>

    <!-- <div class="course-cover-mask" *ngIf="!avatar" (click)="openModal( 'select-image' )"> -->
    <div class="course-cover-mask" *ngIf="ssavatar">

        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput access=".png,.jpg">
        <div class="mask-info" *ngIf="!grid" (click)="grid = !grid">

            <i class="far fa-image" aria-hidden="true"></i>
            <div>Drag image  here</div>

            <!--
            <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput access=".png,.jpg">

            <button (click)="fileInput.click()">
                <span>Select File</span>
            </button>

            <button (click)="uploadFile();" [disabled]="!selectedFiles">
                <span>Upload</span>
            </button>
            -->

        </div>

        <div class="grid-images" *ngIf="grid">
            <app-course-grid-images [images]="images" (picker)="picker( $event )" (load)="load( $event )"></app-course-grid-images>
        </div>

    </div>



</div>

<div class="file-upload mb-3">
    <span class="text">Upload File : </span>
    <input id="custom-input" type="file" (change)="fileChangeListener($event)">
</div>

<img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>

<div class="result" *ngIf="data.image">
    <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight" class="rounded-circle">
</div>

<app-modal id="select-image">
    <app-course-grid-images [images]="images"></app-course-grid-images>
</app-modal>



