<div class="row">
    <div class="col-md-6">
        <h3>Tutorials</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-6 form-group">
        <a [routerLink]="[ '/tutorial', 1 ]">View</a>
        <!-- <input type="email" class="form-control" placeholder="Enter text" [ngModel]="txtfieldValue | async" (ngModelChange)="onChangeModelValue( $event )"> -->
        <h3>{{ txtfieldValue | async}}</h3>
    </div>
</div>

<div class="row" *ngIf="tutorialsValues">

    <div class="col-md-6">

        <input type="text" placeholder="name" #name>
        <input type="text" placeholder="url" #url>

        <button (click)="addTutorial( name.value, url.value )">
            <span>Add a Tutorial</span>
        </button>

    </div>

    <div class="col-md-6">
        <pre>{{ tutorialsValues | json }}</pre>
    </div>

    <div class="col-md-6">
        <ul>
            <li (click)="delTutorial(i)" *ngFor="let tutorial of tutorialsValues; let i = index">
                <a [href]="tutorial.url" target="_blank">{{ tutorial.name }}</a>
            </li>
        </ul>
    </div>
</div>


