<div>
    <div class="container">

        <!-- <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <pre>{{ hero | json }}</pre>
            </div>
        </div> -->

        <!-- <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="hero-title">
                    <h3>{{ hero.name | uppercase }}</h3>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="hero-avatar">
                    <img src="{{ hero.thumbnail.path }}.{{ hero.thumbnail.extension }}" class="img-fluid" alt="Responsive image" />
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12">
                <input [(ngModel)]="hero.name" placeholder="name" />
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12">
                <span>{{ hero.description }}</span>
            </div>
        </div> -->

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <button (click)="onBack()">Back to Heroes List</button>
            </div>
        </div>

    </div>
</div>
