<div class="card mb-3 mT-80">

    <!-- <app-pet-form [types]="( types )"
                  [pet]="( pet$ | async )"
                  (create)="addPet( $event )"
                  (remove)="removePet( $event )"
                  (update)="updatePet( $event )">
    </app-pet-form> -->

    <h2>Pet component...</h2>
    <pre>{{ pet | json }}</pre>

    <span (click)="deletePet( $event, pet )" data-toggle="tooltip" data-placement="left" title="Delete">
        <i class="fas fa-minus-circle"></i>
    </span>

</div>
