<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2" *ngFor="let movie of movies.results; let i=index">
            <div *ngIf="i < 12">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" *ngIf="movie.poster_path" src="http://image.tmdb.org/t/p/w500/{{ movie.poster_path }}">
                    </div><!-- card image -->

                    <!--
                    <div class="card-content">
                        <span class="card-title">Material Cards</span>
                    </div><!-- card content -->
                </div>
            </div>
        </div>
    </div>
</div>
