<!--Footer Starts-->
<footer>
    <div class="container-fluid">
        <p class="copyright text-center">
            <span>Copyright  &copy;  {{ currentDate | date: 'yyyy' }} <a id="pixinventLink" href="http://www.lehenbizico.com">Lehenbizico</a>, All rights reserved.</span>
        </p>
    </div>
</footer>
<!--Footer Ends-->
