<ul>
    <li>
        <a uiSref="home" role="button">
            <span>Home</span>
        </a>
    </li>
    <li>
        <a uiSref="thoughts" role="button">
            <span>Thoughts</span>
        </a>
    </li>
</ul>
