<div class="container-fluid bg-light py-3">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body">

                <h3 class="text-center mb-4">
                    <span *ngIf="!exists">Add</span>
                    <span *ngIf="exists">Update</span> Pet
                </h3>

                <form autocomplete="off" [formGroup]="petForm" (ngSubmit)="saveEdit( petForm.value )">

                    <div class="form-group" [ngClass]="{ 'error' : !validateName()}">
                        <em *ngIf="!validateName()">
                            <sup>*</sup>
                            <span>Required</span>
                        </em>
                        <em *ngIf="!validateName()">
                            <sup>*</sup> Cannot start with a number
                        </em>
                        <label for="name">Name:</label>
                        <input formControlName="name"
                                name="name"
                                id="name"
                                type="text"
                                required
                                class="form-control"
                                placeholder="Name..." />
                    </div>

                    <div class="form-group" [ngClass]="{ 'error' : !validateBreed() }">
                        <em *ngIf="!validateBreed();">
                            <sup>*</sup>
                            <span> Required</span>
                        </em>
                        <label for="breed">Breed:</label>
                        <input  formControlName="breed"
                                name="breed"
                                id="breed"
                                type="text"
                                required
                                class="form-control"
                                placeholder="Breed..." />
                    </div>

                    <div class="form-group" [ngClass]="{ 'error' : !validateDescription() }">
                        <em *ngIf="!validateDescription()">
                            <sup>*</sup>
                            <span> Required</span>
                        </em>
                        <label for="phone">Breed:</label>
                        <input formControlName="breed"
                               name="breed"
                               id="breed"
                               type="text"
                               required
                               class="form-control"
                               placeholder="Breed..." />
                    </div>

                    <div class="form-group">
                        <label for="type">Type:</label>
                        <select *ngIf="exists" class="form-control input-lg" formControlName="type" [compareWith]="byId" (ngModel)="pet.yype">
                            <option *ngFor="let item of types" [ngValue]="item">
                                {{ item.name }}
                            </option>
                        </select>
                        <select *ngIf="!exists" class="form-control input-lg" formControlName="type">
                            <option *ngFor="let item of types" [ngValue]="item">
                                {{ item.name }}
                            </option>
                        </select>
                    </div>

                    <span>
                        <button [disabled]="petForm.invalid" type="submit" class="btn btn-primary">
                            <span *ngIf="!exists"> Save </span>
                            <span *ngIf="exists"> Update </span>
                        </button>
                    </span>

                    <button *ngIf="exists" (click)="deletePet( pet )" class="btn btn-danger"> Delete </button>
                    <button type="button" [routerLink]="['/pets']" class="btn btn-default"> Cancel </button>

                </form>
            </div>
        </div>
    </div>
</div>
