<div class="row m-20" [formGroup]="myGroup">

    <div class="col-8">
        <input class="form-control input-lg filter"
               #box
               formControlName="filter"
               placeholder="Filter Name"
               [value]="query.search"
               (keyup)="onKeyUp( box.value )" />
    </div>

    <div class="col-4">
        <select [compareWith]="byId"
                formControlName="type"
                [(ngModel)]="query.type"
                class="form-control input-lg"
                #departmentSelector
                (change)="searchTerm()">
            <option>All</option>
            <option *ngFor="let item of types" [ngValue]="item">
                {{ item.name }}
            </option>
        </select>
    </div>

</div>
