<div class="card mb-3 mT-80">
    <div class="card-header">
        <h3>Pet list
            <span style="float: right;">
                <button class="btn btn-primary" [routerLink]="['new']">Add new pet</button>
            </span>
        </h3>

        <app-pet-search (search)="search( $event )" [query]="query" [types]="( types )"></app-pet-search>

    </div>

    <div class="card-body">

        <div *ngIf="!((pets)?.length)">
            <span>No Employees found</span>
        </div>

        <app-pet-list *ngIf="( (pets)?.length )" [pets]="(pets)" (remove)="handleOnDelete( $event )" (sort)="sort( $event )"></app-pet-list>

        <button class="btn btn-primary" (click)="toggleState()">
            <span>Active animation</span>
        </button>

        <!-- <p [@fadeIn]="animation">I'm animation</p> -->

    </div>
</div>
