<div class="blog blog-danger">

    <div class="blog-body">
        <ul class="clients-list">
            <li class="client clearfix" *ngFor="let pet of pets">

                <div class="client-details">
                    <a [routerLink]="[ '/pets', pet.id ]">
                        <img [src]="pet.avatar" class="avatar" alt="Client">
                        <p>
                            <span class="name">{{ pet.name }}</span>
                            <span class="email">mail.smith@mail.ro</span>
                        </p>
                    </a>
                    <ul class="icons-nav">
                        <li>
                            <span (click)="deletePet( $event, pet )" data-toggle="tooltip" data-placement="left" title="Delete">
                                <i class="fas fa-minus-circle"></i>
                            </span>
                        </li>
                        <!-- <li>
                            <a [routerLink]="[ '/pets', pet.id ]" data-toggle="tooltip" data-placement="left" title="Email">
                                <i class="far fa-envelope"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="left" title="Contact">
                                <i class="fa fa-phone"></i>
                            </a>
                        </li> -->
                    </ul>
                </div>

            </li>
        </ul>
    </div>

</div>

<div class="blog">
    <div class="blog-header">
        <h5 class="blog-title">Image Gallery</h5>
    </div>
    <div class="blog-body">
        <ul class="blog-gallery clearfix">
            <li *ngFor="let pet of pets">
                <img [src]="pet.avatar" alt="User">
            </li>
        </ul>
    </div>
</div>

<div class="col-md-6 col-md-offset-3">
    <h1>Home</h1>
    <p>{{bodyText}}</p>
    <button (click)="openModal( 'custom-modal-1' )">Open Modal 1</button>
    <button (click)="openModal( 'custom-modal-2' )">Open Modal 2</button>
</div>

<app-modal id="custom-modal-1">
    <h1>A Custom Modal!</h1>
    <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>
    <button (click)="closeModal('custom-modal-1');">Close</button>
</app-modal>

