/*  Variables  */
$primary-color: #333;
$primary-font-color: #eacb20;

$secondary-color: #eacb20;
$secondary-font-color: #333333;

$white: #ffffff;
$black: #000000;

$dark-blue: #2b3d51;
$info: #5B90BF;
$danger: #D66061;
$warning: #ffaa3a;
$success: #76BBAD;
$fb: #4c66a4;
$twitter: #00acee;
$linkedin: #1a85bd;
$gplus: #dc4937;
$brown: #ab7967;
$yellow: #ffee00;

// Blog
.blog {

	margin-bottom: 25px;
	background: lighten($dark-blue, 74%);
    position: relative;

	&:before{
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		z-index: 40;
		border-width: 0 12px 12px 0;
		border-style: solid;
		border-color: lighten($dark-blue, 50%) $white lighten($dark-blue, 50%) lighten($dark-blue, 50%);
		background: transparent;
		display: block;
		width: 0;
	}
}

.blog-body {
	padding: 15px;
	position: relative;
	overflow: hidden;
    border: 1px solid lighten($dark-blue, 66%);

	.blog-img {
		border: 2px solid lighten($dark-blue, 50%);
		min-height: 160px;
		margin-bottom: 10px;
    }

	.blog-content {
		font-size: 15px;
		line-height: 20px;
		color: lighten($black, 35%);
	}
}

.blog-footer{
	padding: 15px;
	border: 1px solid lighten($dark-blue, 67%);
	border-top: 0;
	border-bottom: 2px solid lighten($dark-blue, 67%);
	position: relative;
	&:before{
		content: "";
		position: absolute;
		top: -10px;
		right: 15px;
		z-index: 40;
		border-width: 0 10px 10px;
		border-style: solid;
		border-color: lighten($dark-blue, 67%) $white lighten($dark-blue, 67%);
		background: transparent;
		display: block;
		width: 0;
	}
}

@media (max-width: 767px) {
	.blog-body{
		.blog-img{
			min-height: 60px;
		}
		.blog-content{
			font-size: 12px;
			line-height: 16px;
		}
	}
}

.blog-danger{

    background-color: $danger;

    &:before{
		border-color: darken($danger, 15%) darken($white, 2%) darken($danger, 15%) darken($danger, 15%);
    }

	.blog-header{
		border: 1px solid $danger;
		h5.blog-title {
			color: $white;
		}
    }

	.blog-body{
		border: 1px solid $danger;
		background: $white;
	}
}

// Client List
ul.clients-list {

    margin: 0;
	padding: 0;
    list-style-type: none;

	li.client {

		padding: 8px 0;
        border-bottom: 1px solid darken($white, 10%);


		.client-details {

			// margin-left: 40px;
			height: 30px;
            position: relative;

            img.avatar {

                height: 30px;
                width: 30px;
                border-radius: 2px;
                float: left;
            }

			p {
				margin: 0;

                span.name {
					color: $primary-color;
					line-height: 12px;
					font-size: 12px;
					display: block;
					font-weight: 600;
					margin-bottom: 5px;
                }

				span.email{
					color: lighten($black, 40%);
					line-height: 12px;
					font-size: 11px;
					display: block;
				}
            }

			ul.icons-nav {
				margin: 0;
				list-style-type: none;
				padding: 0;
				position: absolute;
				right: 0;
                bottom: 0;

				li{
					float: left;
					margin-left: 10px;

                    a {
						padding: 5px;
						i {
							color: lighten($black, 30%);
							cursor: pointer;
                            font-size: 14px;

							&:hover{
								color: $danger;
							}
						}
                    }

					&:first-child{
						padding-left: 0;
                    }

					&:last-child{
						padding-right: 0;
					}
				}
			}
        }

		&:first-child{
			padding-top: 0;
        }

		&:last-child{
			padding-bottom: 0;
			border-bottom: 0;
		}
	}
}

ul.blog-gallery{

    margin: 0;
	padding: 0;
    list-style-type: none;

	li {
		width: 20%;
		float: left;
        height: auto;

		img {
			width: 100%;
		}
	}
}
