<!-- <div class="page-not-found-wrapper">
    <h2>Page Not Found.</h2>
    <div>
        <button (click)="goBack();">
            <span>Go Back</span>
        </button>
    </div>
</div> -->


<section class="section">
	<div class="error-card">
		<div class="error-title-block">
			<h1 class="error-title">404</h1>
			<h2 class="error-sub-title">
				<span>Hmm, looks like that page doesn't exist.</span>
			</h2>
		</div>
		<div class="error-container">
		    <p>You better try our awesome search:</p>
		    <div class="row">
		        <div class="col-12">
			    	<div class="input-group">
			            <input type="text" class="form-control">
			            <span class="input-group-btn">
			                <button class="btn btn-primary" type="button">Search</button>
			              </span>
			        </div>
			    </div>
		    </div>
            <br>

            <!-- <button (click)="goBack();">
                <span>Go Back</span>
            </button> -->

		    <a class="btn btn-primary" (click)="goBack();">
                <i class="fa fa-angle-left"></i>
                <span>Back</span>
            </a>
		</div>
	</div>
</section>

<section style="display:none">

    <div class="wrapper">
            <div class="sun"></div>
            <div class="cloud">
                <div class="cloud1">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                </div>
                <div class="cloud1 c_shadow">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                </div>
            </div>

            <div class="cloud_s">
                <div class="cloud1">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                </div>
                <div class="cloud1 c_shadow">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                </div>
            </div>

            <div class="cloud_vs">
                <div class="cloud1">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                </div>
                <div class="cloud1 c_shadow">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                </div>
            </div>
            <div class="haze"></div>
            <div class="haze_stripe"></div>
            <div class="haze_stripe"></div>
            <div class="haze_stripe"></div>
            <div class="thunder"></div>
            <div class="rain">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="sleet">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="text">
                <ul>
                <li>Mostly Sunny</li>
                <li>Partly Sunny</li>
                <li>Partly Cloudy</li>
                <li>Mostly Cloudy</li>
                <li>Cloudy</li>
                <li>Hazy</li>
                <li>Thunderstorm</li>
                <li>Rain</li>
                <li>Sleet</li>
                </ul>
            </div>
    </div>

</section>
