<ng2-slim-loading-bar></ng2-slim-loading-bar>
<div class="wrapper">
   <!-- <div class="app-sidebar" data-active-color="white" data-background-color="black" data-image="assets/img/sidebar-bg/01.jpg"> -->
   <div class="app-sidebar">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background"></div>
    </div>
     <!-- <app-navbar></app-navbar> -->
    <div class="main-panel">
        <div class="main-content">
            <div class="content-wrapper">
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
    <!-- <app-notification-sidebar></app-notification-sidebar>
    <app-customizer></app-customizer> -->
</div>
