.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}

.app-sidebar {
    font-family: 'Poppins', 'Helvetica', Arial, sans-serif;
    position: fixed;
    z-index: 4;
    top: 0;
    bottom: 0;
    left: 0;
    visibility: visible;
    width: 250px;
    height: 100vh;
    -webkit-transition: width .3s cubic-bezier(0, 0, .2, 1);
    -moz-transition: width .3s cubic-bezier(0, 0, .2, 1);
    -o-transition: width .3s cubic-bezier(0, 0, .2, 1);
    transition: width .3s cubic-bezier(0, 0, .2, 1);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    white-space: nowrap;
    -webkit-box-shadow: 2px 10px 30px 0 rgba(0, 0, 0, .42), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
    box-shadow: 2px 10px 30px 0 rgba(0, 0, 0, .42), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.app-sidebar.hide-sidebar {
    -webkit-transition: -webkit-transform .4s cubic-bezier(.25, .8, .25, 1);
    -moz-transition:         transform .4s cubic-bezier(.25, .8, .25, 1), -moz-transform .4s cubic-bezier(.25, .8, .25, 1);
    -o-transition:      -o-transform .4s cubic-bezier(.25, .8, .25, 1);
    transition: -webkit-transform .4s cubic-bezier(.25, .8, .25, 1);
    transition:         transform .4s cubic-bezier(.25, .8, .25, 1);
    transition:         transform .4s cubic-bezier(.25, .8, .25, 1), -webkit-transform .4s cubic-bezier(.25, .8, .25, 1), -moz-transform .4s cubic-bezier(.25, .8, .25, 1), -o-transform .4s cubic-bezier(.25, .8, .25, 1);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.app-sidebar:after,
.app-sidebar:before {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
}

.app-sidebar:before {
    opacity: .33;
}

.app-sidebar:after {
    z-index: 3;
    opacity: 1;
}

.app-sidebar[data-image]:after,
.app-sidebar.has-image:after {
    opacity: .77;
}

.app-sidebar[data-background-color='white'] {
    background-color: #fff;
}

.app-sidebar[data-background-color='white'] .sidebar-background:after {
    opacity: .9;
    background: #fff;
}

.app-sidebar[data-background-color='white'] .navigation i,
.app-sidebar[data-background-color='white'] .navigation li > a {
    color: #000;
}

.app-sidebar[data-background-color='white'] .logo-text {
    color: #000;
}

.app-sidebar[data-background-color='white'] .sidebar-header a.nav-toggle {
    color: #000;
}

.app-sidebar[data-background-color='white'] .sidebar-header a.nav-close {
    color: #000;
}

.app-sidebar[data-background-color='black'] {
    background-color: #000;
}

.app-sidebar[data-background-color='black'] .sidebar-background:after {
    opacity: .8;
    background: #000;
}

.app-sidebar[data-background-color='black'] .navigation i,
.app-sidebar[data-background-color='black'] .navigation li > a {
    color: #fff;
}

.app-sidebar[data-background-color='black'] .logo-text {
    color: #fff;
}

.app-sidebar[data-background-color='black'] .sidebar-header a.nav-toggle {
    color: #fff;
}

.app-sidebar[data-background-color='black'] .sidebar-header a.nav-close {
    color: #fff;
}

.app-sidebar[data-background-color='primary'] {
    background-color: #009da0;
}

.app-sidebar[data-background-color='primary'] .sidebar-background:after {
    opacity: .9;
    background: #009da0;
}

.app-sidebar[data-background-color='primary'] .navigation i,
.app-sidebar[data-background-color='primary'] .navigation li > a {
    color: #fff;
}

.app-sidebar[data-background-color='primary'] .logo-text,
.off-canvas-sidebar[data-background-color='primary'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='primary'] .sidebar-header a.nav-toggle,
.off-canvas-sidebar[data-background-color='primary'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='primary'] .sidebar-header a.nav-close,
.off-canvas-sidebar[data-background-color='primary'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='info'],
.off-canvas-sidebar[data-background-color='info']
{
    background-color: #1cbcd8;
}
.app-sidebar[data-background-color='info'] .sidebar-background:after,
.off-canvas-sidebar[data-background-color='info'] .sidebar-background:after
{
    opacity: .9;
    background: #1cbcd8;
}
.app-sidebar[data-background-color='info'] .navigation i,
.app-sidebar[data-background-color='info'] .navigation li > a,
.off-canvas-sidebar[data-background-color='info'] .navigation i,
.off-canvas-sidebar[data-background-color='info'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='info'] .logo-text,
.off-canvas-sidebar[data-background-color='info'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='info'] .sidebar-header a.nav-toggle,
.off-canvas-sidebar[data-background-color='info'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='info'] .sidebar-header a.nav-close,
.off-canvas-sidebar[data-background-color='info'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='success'],
.off-canvas-sidebar[data-background-color='success']
{
    background-color: #0cc27e;
}
.app-sidebar[data-background-color='success'] .sidebar-background:after,
.off-canvas-sidebar[data-background-color='success'] .sidebar-background:after
{
    opacity: .9;
    background: #0cc27e;
}
.app-sidebar[data-background-color='success'] .navigation i,
.app-sidebar[data-background-color='success'] .navigation li > a,
.off-canvas-sidebar[data-background-color='success'] .navigation i,
.off-canvas-sidebar[data-background-color='success'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='success'] .logo-text,
.off-canvas-sidebar[data-background-color='success'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='success'] .sidebar-header a.nav-toggle,
.off-canvas-sidebar[data-background-color='success'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='success'] .sidebar-header a.nav-close,
.off-canvas-sidebar[data-background-color='success'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='warning'],
.off-canvas-sidebar[data-background-color='warning']
{
    background-color: #ff8d60;
}
.app-sidebar[data-background-color='warning'] .sidebar-background:after,
.off-canvas-sidebar[data-background-color='warning'] .sidebar-background:after
{
    opacity: .9;
    background: #ff8d60;
}
.app-sidebar[data-background-color='warning'] .navigation i,
.app-sidebar[data-background-color='warning'] .navigation li > a,
.off-canvas-sidebar[data-background-color='warning'] .navigation i,
.off-canvas-sidebar[data-background-color='warning'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='warning'] .logo-text,
.off-canvas-sidebar[data-background-color='warning'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='warning'] .sidebar-header a.nav-toggle,
.off-canvas-sidebar[data-background-color='warning'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='warning'] .sidebar-header a.nav-close,
.off-canvas-sidebar[data-background-color='warning'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='danger'],
.off-canvas-sidebar[data-background-color='danger']
{
    background-color: #ff586b;
}
.app-sidebar[data-background-color='danger'] .sidebar-background:after,
.off-canvas-sidebar[data-background-color='danger'] .sidebar-background:after
{
    opacity: .9;
    background: #ff586b;
}
.app-sidebar[data-background-color='danger'] .navigation i,
.app-sidebar[data-background-color='danger'] .navigation li > a,
.off-canvas-sidebar[data-background-color='danger'] .navigation i,
.off-canvas-sidebar[data-background-color='danger'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='danger'] .logo-text,
.off-canvas-sidebar[data-background-color='danger'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='danger'] .sidebar-header a.nav-toggle,
.off-canvas-sidebar[data-background-color='danger'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='danger'] .sidebar-header a.nav-close,
.off-canvas-sidebar[data-background-color='danger'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='pomegranate'],
.off-canvas-sidebar[data-background-color='pomegranate']
{
    background-image: -webkit-linear-gradient(45deg, #9b3cb7, #ff396f);
    background-image:    -moz-linear-gradient(45deg, #9b3cb7, #ff396f);
    background-image:      -o-linear-gradient(45deg, #9b3cb7, #ff396f);
    background-image:         linear-gradient(45deg, #9b3cb7, #ff396f);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='pomegranate'] .sidebar-background:after,
.off-canvas-sidebar[data-background-color='pomegranate'] .sidebar-background:after
{
    opacity: .9;
    background-image: -webkit-linear-gradient(45deg, #9b3cb7, #ff396f);
    background-image:    -moz-linear-gradient(45deg, #9b3cb7, #ff396f);
    background-image:      -o-linear-gradient(45deg, #9b3cb7, #ff396f);
    background-image:         linear-gradient(45deg, #9b3cb7, #ff396f);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='pomegranate'] .navigation i,
.app-sidebar[data-background-color='pomegranate'] .navigation li > a,
.off-canvas-sidebar[data-background-color='pomegranate'] .navigation i,
.off-canvas-sidebar[data-background-color='pomegranate'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='pomegranate'] .logo-text,
.off-canvas-sidebar[data-background-color='pomegranate'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='pomegranate'] .sidebar-header a.nav-toggle,
.off-canvas-sidebar[data-background-color='pomegranate'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='pomegranate'] .sidebar-header a.nav-close,
.off-canvas-sidebar[data-background-color='pomegranate'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='king-yna'],
.off-canvas-sidebar[data-background-color='king-yna']
{
    background-image: -webkit-linear-gradient(45deg, #1a2a6c, #b21f1f);
    background-image:    -moz-linear-gradient(45deg, #1a2a6c, #b21f1f);
    background-image:      -o-linear-gradient(45deg, #1a2a6c, #b21f1f);
    background-image:         linear-gradient(45deg, #1a2a6c, #b21f1f);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='king-yna'] .sidebar-background:after,
.off-canvas-sidebar[data-background-color='king-yna'] .sidebar-background:after
{
    opacity: .9;
    background-image: -webkit-linear-gradient(45deg, #1a2a6c, #b21f1f);
    background-image:    -moz-linear-gradient(45deg, #1a2a6c, #b21f1f);
    background-image:      -o-linear-gradient(45deg, #1a2a6c, #b21f1f);
    background-image:         linear-gradient(45deg, #1a2a6c, #b21f1f);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='king-yna'] .navigation i,
.app-sidebar[data-background-color='king-yna'] .navigation li > a,
.off-canvas-sidebar[data-background-color='king-yna'] .navigation i,
.off-canvas-sidebar[data-background-color='king-yna'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='king-yna'] .logo-text,
.off-canvas-sidebar[data-background-color='king-yna'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='king-yna'] .sidebar-header a.nav-toggle,
.off-canvas-sidebar[data-background-color='king-yna'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='king-yna'] .sidebar-header a.nav-close,
.off-canvas-sidebar[data-background-color='king-yna'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='ibiza-sunset'],
.off-canvas-sidebar[data-background-color='ibiza-sunset']
{
    background-image: -webkit-linear-gradient(45deg, #ee0979, #ff6a00);
    background-image:    -moz-linear-gradient(45deg, #ee0979, #ff6a00);
    background-image:      -o-linear-gradient(45deg, #ee0979, #ff6a00);
    background-image:         linear-gradient(45deg, #ee0979, #ff6a00);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='ibiza-sunset'] .sidebar-background:after,
.off-canvas-sidebar[data-background-color='ibiza-sunset'] .sidebar-background:after
{
    opacity: .9;
    background-image: -webkit-linear-gradient(45deg, #ee0979, #ff6a00);
    background-image:    -moz-linear-gradient(45deg, #ee0979, #ff6a00);
    background-image:      -o-linear-gradient(45deg, #ee0979, #ff6a00);
    background-image:         linear-gradient(45deg, #ee0979, #ff6a00);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='ibiza-sunset'] .navigation i,
.app-sidebar[data-background-color='ibiza-sunset'] .navigation li > a,
.off-canvas-sidebar[data-background-color='ibiza-sunset'] .navigation i,
.off-canvas-sidebar[data-background-color='ibiza-sunset'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='ibiza-sunset'] .logo-text,
.off-canvas-sidebar[data-background-color='ibiza-sunset'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='ibiza-sunset'] .sidebar-header a.nav-toggle,
.off-canvas-sidebar[data-background-color='ibiza-sunset'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='ibiza-sunset'] .sidebar-header a.nav-close,
.off-canvas-sidebar[data-background-color='ibiza-sunset'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='flickr'],
.off-canvas-sidebar[data-background-color='flickr']
{
    background-image: -webkit-linear-gradient(45deg, #33001b, #ff0084);
    background-image:    -moz-linear-gradient(45deg, #33001b, #ff0084);
    background-image:      -o-linear-gradient(45deg, #33001b, #ff0084);
    background-image:         linear-gradient(45deg, #33001b, #ff0084);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='flickr'] .sidebar-background:after,
.off-canvas-sidebar[data-background-color='flickr'] .sidebar-background:after
{
    opacity: .9;
    background-image: -webkit-linear-gradient(45deg, #33001b, #ff0084);
    background-image:    -moz-linear-gradient(45deg, #33001b, #ff0084);
    background-image:      -o-linear-gradient(45deg, #33001b, #ff0084);
    background-image:         linear-gradient(45deg, #33001b, #ff0084);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='flickr'] .navigation i,
.app-sidebar[data-background-color='flickr'] .navigation li > a,
.off-canvas-sidebar[data-background-color='flickr'] .navigation i,
.off-canvas-sidebar[data-background-color='flickr'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='flickr'] .logo-text,
.off-canvas-sidebar[data-background-color='flickr'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='flickr'] .sidebar-header a.nav-toggle,
.off-canvas-sidebar[data-background-color='flickr'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='flickr'] .sidebar-header a.nav-close,
.off-canvas-sidebar[data-background-color='flickr'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='purple-bliss'],
.off-canvas-sidebar[data-background-color='purple-bliss']
{
    background-image: -webkit-linear-gradient(45deg, #360033, #0b8793);
    background-image:    -moz-linear-gradient(45deg, #360033, #0b8793);
    background-image:      -o-linear-gradient(45deg, #360033, #0b8793);
    background-image:         linear-gradient(45deg, #360033, #0b8793);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='purple-bliss'] .sidebar-background:after,
.off-canvas-sidebar[data-background-color='purple-bliss'] .sidebar-background:after
{
    opacity: .9;
    background-image: -webkit-linear-gradient(45deg, #360033, #0b8793);
    background-image:    -moz-linear-gradient(45deg, #360033, #0b8793);
    background-image:      -o-linear-gradient(45deg, #360033, #0b8793);
    background-image:         linear-gradient(45deg, #360033, #0b8793);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='purple-bliss'] .navigation i,
.app-sidebar[data-background-color='purple-bliss'] .navigation li > a,
.off-canvas-sidebar[data-background-color='purple-bliss'] .navigation i,
.off-canvas-sidebar[data-background-color='purple-bliss'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='purple-bliss'] .logo-text,
.off-canvas-sidebar[data-background-color='purple-bliss'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='purple-bliss'] .sidebar-header a.nav-toggle,
.off-canvas-sidebar[data-background-color='purple-bliss'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='purple-bliss'] .sidebar-header a.nav-close,
.off-canvas-sidebar[data-background-color='purple-bliss'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='man-of-steel'],
.off-canvas-sidebar[data-background-color='man-of-steel']
{
    background-image: -webkit-linear-gradient(45deg, #780206, #061161);
    background-image:    -moz-linear-gradient(45deg, #780206, #061161);
    background-image:      -o-linear-gradient(45deg, #780206, #061161);
    background-image:         linear-gradient(45deg, #780206, #061161);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='man-of-steel'] .sidebar-background:after,
.off-canvas-sidebar[data-background-color='man-of-steel'] .sidebar-background:after
{
    opacity: .9;
    background-image: -webkit-linear-gradient(45deg, #780206, #061161);
    background-image:    -moz-linear-gradient(45deg, #780206, #061161);
    background-image:      -o-linear-gradient(45deg, #780206, #061161);
    background-image:         linear-gradient(45deg, #780206, #061161);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='man-of-steel'] .navigation i,
.app-sidebar[data-background-color='man-of-steel'] .navigation li > a,
.off-canvas-sidebar[data-background-color='man-of-steel'] .navigation i,
.off-canvas-sidebar[data-background-color='man-of-steel'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='man-of-steel'] .logo-text,
.off-canvas-sidebar[data-background-color='man-of-steel'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='man-of-steel'] .sidebar-header a.nav-toggle,
.off-canvas-sidebar[data-background-color='man-of-steel'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='man-of-steel'] .sidebar-header a.nav-close,
.off-canvas-sidebar[data-background-color='man-of-steel'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='purple-love'],
.off-canvas-sidebar[data-background-color='purple-love']
{
    background-image: -webkit-linear-gradient(45deg, #cc2b5e, #753a88);
    background-image:    -moz-linear-gradient(45deg, #cc2b5e, #753a88);
    background-image:      -o-linear-gradient(45deg, #cc2b5e, #753a88);
    background-image:         linear-gradient(45deg, #cc2b5e, #753a88);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='purple-love'] .sidebar-background:after,
.off-canvas-sidebar[data-background-color='purple-love'] .sidebar-background:after
{
    opacity: .9;
    background-image: -webkit-linear-gradient(45deg, #cc2b5e, #753a88);
    background-image:    -moz-linear-gradient(45deg, #cc2b5e, #753a88);
    background-image:      -o-linear-gradient(45deg, #cc2b5e, #753a88);
    background-image:         linear-gradient(45deg, #cc2b5e, #753a88);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='purple-love'] .navigation i,
.app-sidebar[data-background-color='purple-love'] .navigation li > a,
.off-canvas-sidebar[data-background-color='purple-love'] .navigation i,
.off-canvas-sidebar[data-background-color='purple-love'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='purple-love'] .logo-text,
.off-canvas-sidebar[data-background-color='purple-love'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='purple-love'] .sidebar-header a.nav-toggle,
.off-canvas-sidebar[data-background-color='purple-love'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='purple-love'] .sidebar-header a.nav-close,
.off-canvas-sidebar[data-background-color='purple-love'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='white'] .navigation li a,
.off-canvas-sidebar[data-background-color='white'] .navigation li a
{
    color: #000;
}
.app-sidebar[data-background-color='black'] .navigation li a,
.off-canvas-sidebar[data-background-color='black'] .navigation li a
{
    color: #fff;
}
.app-sidebar[data-background-color='red'] .navigation li a,
.off-canvas-sidebar[data-background-color='red'] .navigation li a
{
    color: #fff;
}
.app-sidebar[data-background-color='white'] .logo-text,
.off-canvas-sidebar[data-background-color='white'] .logo-text
{
    color: #000;
}
.app-sidebar[data-background-color='white'] .sidebar-header a.nav-toggle,
.off-canvas-sidebar[data-background-color='white'] .sidebar-header a.nav-toggle
{
    color: #000;
}
.app-sidebar[data-color='blue'] .moving-tab,
.off-canvas-sidebar[data-color='blue'] .moving-tab
{
    background-color: #1cbcd8;
}
.app-sidebar[data-color='green'] .moving-tab,
.off-canvas-sidebar[data-color='green'] .moving-tab
{
    background-color: #0cc27e;
}
.app-sidebar[data-color='orange'] .moving-tab,
.off-canvas-sidebar[data-color='orange'] .moving-tab
{
    background-color: #ff8d60;
}
.app-sidebar[data-color='red'] .moving-tab,
.off-canvas-sidebar[data-color='red'] .moving-tab
{
    background-color: #ff586b;
}
.app-sidebar[data-color='purple'] .moving-tab,
.off-canvas-sidebar[data-color='purple'] .moving-tab
{
    background-color: #009da0;
}

.main-panel {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.main-panel {
    position: relative;
    z-index: 2;
    float: right;
    min-height: 100%;
    -webkit-transition: all .33s cubic-bezier(.685, .0473, .346, 1);
    -moz-transition: all .33s cubic-bezier(.685, .0473, .346, 1);
    -o-transition: all .33s cubic-bezier(.685, .0473, .346, 1);
    transition: all .33s cubic-bezier(.685, .0473, .346, 1);
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.main-panel{
    .main-content {
        position: relative;
        min-height: -webkit-calc(100% - 123px);
        min-height: -moz-calc(100% - 123px);
        min-height: calc(100% - 123px);
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    .footer {
        border-top: 1px solid #e7e7e7;
    }
}

.main-panel > .navbar {
    margin-bottom: 0;
}

.bootstrap-navbar .navigation {
    float: none;
    margin-top: 20px;
}

.main-panel {
    margin-top: 85px;
}


@media (min-width: 992px) {
    .main-content {
        padding-left: 250px;
    }
}

.content-wrapper {
    // padding: 0 30px;
    padding: 0;
}
