:host {
    .share-highlight {
        position: absolute;
        visibility: hidden;
        display: none;
        z-index: 400;
        -webkit-transition: none;
        transition: none;
        top: 0;
        left: 0;
    }

    .active {
        display: block;
        visibility: visible;
        -webkit-transition: top 75ms ease-out, left 75ms ease-out;
        transition: top 75ms ease-out, left 75ms ease-out;
        -webkit-animation: pop-upwards 180ms forwards linear;
        animation: pop-upwards 180ms forwards linear;

        width: 150px;
        min-height: 15px;
        background-color: aquamarine;
        padding: 15px;
    }

    @-webkit-keyframes pop-upwards {
        0% {
            -webkit-transform: matrix(.97,0,0,1,0,12);
            transform: matrix(.97,0,0,1,0,12);
            opacity: 0
        }

        20% {
            -webkit-transform: matrix(.99,0,0,1,0,2);
            transform: matrix(.99,0,0,1,0,2);
            opacity: .7
        }

        40% {
            -webkit-transform: matrix(1,0,0,1,0,-1);
            transform: matrix(1,0,0,1,0,-1);
            opacity: 1
        }

        70% {
            -webkit-transform: matrix(1,0,0,1,0,0);
            transform: matrix(1,0,0,1,0,0);
            opacity: 1
        }

        100% {
            -webkit-transform: matrix(1,0,0,1,0,0);
            transform: matrix(1,0,0,1,0,0);
            opacity: 1
        }
    }

    @keyframes pop-upwards {
        0% {
            -webkit-transform: matrix(.97,0,0,1,0,12);
            transform: matrix(.97,0,0,1,0,12);
            opacity: 0
        }

        20% {
            -webkit-transform: matrix(.99,0,0,1,0,2);
            transform: matrix(.99,0,0,1,0,2);
            opacity: .7
        }

        40% {
            -webkit-transform: matrix(1,0,0,1,0,-1);
            transform: matrix(1,0,0,1,0,-1);
            opacity: 1
        }

        70% {
            -webkit-transform: matrix(1,0,0,1,0,0);
            transform: matrix(1,0,0,1,0,0);
            opacity: 1
        }

        100% {
            -webkit-transform: matrix(1,0,0,1,0,0);
            transform: matrix(1,0,0,1,0,0);
            opacity: 1
        }
    }

    @-webkit-keyframes pop-downwards {
        0% {
            -webkit-transform: matrix(.97,0,0,1,0,-12);
            transform: matrix(.97,0,0,1,0,-12);
            opacity: 0
        }

        20% {
            -webkit-transform: matrix(.99,0,0,1,0,-2);
            transform: matrix(.99,0,0,1,0,-2);
            opacity: .7
        }

        40% {
            -webkit-transform: matrix(1,0,0,1,0,1);
            transform: matrix(1,0,0,1,0,1);
            opacity: 1
        }

        70% {
            -webkit-transform: matrix(1,0,0,1,0,0);
            transform: matrix(1,0,0,1,0,0);
            opacity: 1
        }

        100% {
            -webkit-transform: matrix(1,0,0,1,0,0);
            transform: matrix(1,0,0,1,0,0);
            opacity: 1
        }
    }

    @keyframes pop-downwards {
        0% {
            -webkit-transform: matrix(.97,0,0,1,0,-12);
            transform: matrix(.97,0,0,1,0,-12);
            opacity: 0
        }

        20% {
            -webkit-transform: matrix(.99,0,0,1,0,-2);
            transform: matrix(.99,0,0,1,0,-2);
            opacity: .7
        }

        40% {
            -webkit-transform: matrix(1,0,0,1,0,1);
            transform: matrix(1,0,0,1,0,1);
            opacity: 1
        }

        70% {
            -webkit-transform: matrix(1,0,0,1,0,0);
            transform: matrix(1,0,0,1,0,0);
            opacity: 1
        }

        100% {
            -webkit-transform: matrix(1,0,0,1,0,0);
            transform: matrix(1,0,0,1,0,0);
            opacity: 1
        }
    }

    @-webkit-keyframes pop {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        50% {
            -webkit-transform: scale(1.1);
            transform: scale(1.1)
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1)
        }
    }

    @keyframes pop {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        50% {
            -webkit-transform: scale(1.1);
            transform: scale(1.1)
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1)
        }
    }
}
