<div class="share-highlight"
     [ngClass]="{ 'active' : tooltip }"
     *ngIf="tooltip"
     [style.left.px]="tooltip.viewportRectangle.left"
     [style.top.px]="tooltip.viewportRectangle.top">

    <!-- <pre>{{ tooltip | json }}</pre> -->
    <div class="indicator__cta">
        <!--
            NOTE: Because we DON'T WANT the selected text to get deselected
            when we click on the call-to-action, we have to PREVENT THE
            DEFAULT BEHAVIOR and STOP PROPAGATION on some of the events. The
            byproduct of this is that the (click) event won't fire. As such,
            we then have to consume the click-intent by way of the (mouseup)
            event.
        -->

        <a
            (mousedown)="$event.preventDefault()"
            (mouseup)="$event.stopPropagation(); shareSelection()"
            class="indicator__cta-link">
            <span>Share With Friends</span>
        </a>
    </div>


    <!-- <p>Do you think that facebook, twitter, linkedin are designed to make people addict ?, Then you have to read this article. The most popular social networking sites are following people's habit. It is not concept, it is people's habit</p> -->

    <!-- This here is the actual popup and links to social media -->
    <!-- <div class="js-popper share-highlight__tooltip" [style.display]="getStyle()"> -->

    <!--
    <div class="js-popper share-highlight__tooltip">
        <div class="share-highlight__tooltip-arrow"></div>

        <a target="_blank" class="share-highlight__social-icons" href="{{ linkedinlink }}">
            <span class="fa fa-linkedin"></span>
        </a>

        <a target="_blank" class="share-highlight__social-icons" href="{{ twitterlink }}">
            <span class="fa fa-twitter"></span>
        </a>

        <a class="share-highlight__social-icons" href="{{ emaillink }}">
            <span class="fa fa-envelope"></span>
        </a>
    </div>
    -->
</div>
