$turquoise:				#1abc9c;
$greenSea:				#16a085;
$emerald:				#2ecc71;
$nephritis:				#27ae60;
$peterRiver:			#3498DB;
$belizeHole:			#2980B9;
$amethyst:				#9B59B6;
$wisteria:				#8E44AD;
$wetAsphalt:			#34495E;
$midnightBlue:			#2C3E50;
$sunFlower:				#F1C40F;
$orangeFlat:			#F39C12;
$carrot:				#E67E22;
$pumpkin:				#D35400;
$alizarin:				#E74C3C;
$pomegranate:			#C0392B;
$clouds:				#ECF0F1;
$silver:				#BDC3C7;
$concrete:				#95A5A6;
$asbestos:				#7F8C8D;
