@import './variables';

body {

    height: 100%;
    // background-color: $emerald;
    overflow-x: hidden;

    font-family: $baseFont !important;
    font-size: $baseFontSize !important;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body.block-scroll {

    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden !important;
}

body.blur-filter {
    filter: blur(2px);
}

* {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}
